.DS_Store
*.~*
*.adt
*.bdsdeploy
*.bdsgroup
*.bpg
*.dcl
*.dcp
*.dcpil
*.dcu
*.gif
*.2007
*.tvsconfig
*.jpg
*.bmp
*.psd
*.dcuil
*.ddp
*.dof
*.dpc
*.dpl
*.ico
*.dproj
*.drc
*.dsk
*.dsm
*.identcache
*.local
*.map
*.mts
*.rsm
*.bpl
*.cbk
*.cfg
*.dcl
*.exe
*.png
*.xml
*__history
*.elf

__history/
Data/
DCU/
Portable Edition/
Source Archive/
Standard edition/
*.dll
*.dsv
