MAINICON ICON "E:\Drive 1\Bangla\Avro Keyboard\Keyboard and Spell checker\SpellChecker\mainicon.ico"
1 VERSIONINFO
FILEVERSION 1,0,1,0
PRODUCTVERSION 1,0,1,0
FILEFLAGSMASK 0x3FL
FILEFLAGS 0x02L
FILEOS 0x4L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
         BLOCK "040904E4"
         BEGIN
              VALUE "CompanyName", "OmicronLab\0"
              VALUE "FileDescription", "Unicode compliant open source Bangla spell checker\0"
              VALUE "FileVersion", "1.0.1.0\0"
              VALUE "InternalName", "Avro Spell Checker\0"
              VALUE "LegalCopyright", "C OmicronLab. All Rights Reserved.\0"
              VALUE "LegalTrademarks", "Avro Spell Checker\0"
              VALUE "OriginalFilename", "Avro Spell Checker.exe\0"
              VALUE "ProductName", "Avro Spell Checker\0"
              VALUE "ProductVersion", "1.0.1.0\0"
              VALUE "Comments", "Unicode compliant open source Bangla spell checker\0"
         END
    END
    BLOCK "VarFileInfo"
    BEGIN
         VALUE "Translation", 0x0409, 1252
    END
END
